{% extends "base.html" %}
{% block panel %}
{%load static%}
<article class="weui-article">
	<h1>加入优势</h1>
	<section>
		<p>1.获得链群最新消息</p>

		<p>2.以极低价或免费体验链群最新产品</p>

		<p>3.享受链群丰富多样的福利,如红包、聚餐、外出旅游等</p>

		<p>4.你邀请的粉丝客户购买产品你将获得销售提成，提成额度根据产品确定</p>
	</section>
	<h1>加入方法</h1>
	<section>
		<p>1.微信扫码添加链群运营官</p>
		<p><img src="{%static 'icons/qr.png'%}" style="width:100px;" alt=""/></p>

		<p>2.建立微信群(或QQ群),并邀请执法官加入,发展成员不低于50人,邀请人默认永久成为你的粉丝客户</p>

		<p>3.经执法官邀请,加入链群总群</p>

		<p>4.依据总群指示运营粉丝客户</p>

		<p>5.系统根据运营成果每日计算收益</p>
	</section>
</article>
{%endblock%}