<div class="weui-flex" style="text-align: center;padding:5px;">
    <div class="weui-flex__item">
    	<div class="placeholder">weui</div>
    	<div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
    	<div class="placeholder">weui</div>
    	<div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
    	<div class="placeholder">weui</div>
    	<div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
    	<div class="placeholder">weui</div>
    	<div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
</div>
<div style="text-align: center;padding:15px 0;border-bottom: 1px solid #e4e4e4;">
    草/研/本/铺
</div>
<div class="weui-flex" style="padding:2px 5px;">
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
</div>
<div class="weui-flex" style="padding:2px 5px;">
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
</div>
<div class="weui-flex" style="padding:2px 5px;">
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
</div>
<div style="text-align: center;padding:15px 0;border-bottom: 1px solid #e4e4e4;">
    湖/南/辣/味
</div>
<div class="weui-flex" style="text-align: center;padding:5px;">
    <div class="weui-flex__item">
        <div class="placeholder">weui</div>
        <div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">weui</div>
        <div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">weui</div>
        <div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">weui</div>
        <div style="margin:0 5px;"><img class="img-max" src="{%static 'icons/weui.png'%}"/></div>
    </div>
</div>
<div class="weui-flex" style="padding:2px 5px;">
    <img class="weui-flex__item" src="{%static 'icons/big.png'%}" alt=""/>
</div>