{% extends "base.html" %}
{% block panel %}
{%load static%}
<div class="weui-flex">
	<div class="weui-flex__item">
	</div>
	<div class="weui-flex__item_center" style="">
		<a class="weui-media-box weui-media-box_appmsg">
		    <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" style="" src="{%static 'icons/u3037.png'%}" alt="">
		    </div>
		    <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title">感谢您的评价</h4>
		        <p class="weui-media-box__desc">将您的体验分享给朋友吧</p>
		    </div>
		</a>
	</div>
	<div class="weui-flex__item">
	</div>
</div>
{%endblock%}
